/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #c97064;
  --ion-color-primary-rgb: 201, 112, 100;
  --ion-color-primary-contrast: #ededf4;
  --ion-color-primary-contrast-rgb: 237, 237, 244;
  --ion-color-primary-shade: #eea196;
  --ion-color-primary-tint: #7e453e;

  /** secondary **/
  --ion-color-secondary: #58b09c;
  --ion-color-secondary-rgb: 88, 176, 156;
  --ion-color-secondary-contrast: #ededf4;
  --ion-color-secondary-contrast-rgb: 237, 237, 244;
  --ion-color-secondary-shade: #72b1a2;
  --ion-color-secondary-tint: #33665a;

  /** tertiary **/
  --ion-color-tertiary: #6b7fd7;
  --ion-color-tertiary-rgb: 107, 127, 215;
  --ion-color-tertiary-contrast: #ededf4;
  --ion-color-tertiary-contrast-rgb: 237, 237, 244;
  --ion-color-tertiary-shade: #8896d4;
  --ion-color-tertiary-tint: #384270;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 237, 237, 244;
  --ion-color-success-shade: #2dd36f;
  --ion-color-success-tint: #2dd36f;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #2f2f2f;
  --ion-color-dark-rgb: 47, 47, 47;
  --ion-color-dark-contrast: #ededf4;
  --ion-color-dark-contrast-rgb: 237, 237, 244;
  --ion-color-dark-shade: #aaa3a3;
  --ion-color-dark-tint: #000000;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #ededf4;
  --ion-color-light-rgb: 237, 237, 244;
  --ion-color-light-contrast: #2f2f2f;
  --ion-color-light-contrast-rgb: 47, 47, 47;
  --ion-color-light-shade: #ffffff;
  --ion-color-light-tint: #b3b3b8;

  --ion-background-color: #ededf4;
  --ion-background-color-rgb: 237, 237, 244;
  --ion-text-color: #2f2f2f;
  --ion-text-color-rgb: 47, 47, 47;
  --ion-menu-button-color: #c97064;
}
